VPN_DOMAIN=vpn.corp.cz
LAN_SUBNET=192.168.1.0/24
LOCAL_SUBNET=192.168.1.0/24

DNS_SERVER=192.168.1.1
AD_DNS_SERVER=192.168.1.1

TAILNET_DOMAIN=tailnet.internal
SEARCH_DOMAIN=corp.local
AD_DOMAIN=corp.local

ACME_EMAIL=myemail+letsencrypt@example.com
HEADSCALE_USER=company
DOCKGE_PORT=5001

# Optional. If empty, install.sh will only print the tailscale up command.
TAILSCALE_AUTH_KEY=
ROUTER_HOSTNAME=
ROUTER_ADVERTISE_ROUTES=
